<div *ngIf="loading" class="fa-3x">
    <i class="fas fa-sync fa-spin"></i>
</div>
<div *ngIf="vacio" class="col-12">
    <div class="alert alert-danger text-center" role="alert">
        No se encontraron resultados para la consulta solicitada.
    </div>
</div>
<div class="row" *ngIf="!vacio">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Listado de mis citas para compra de un producto</h5>
                <div class="table-responsive" *ngIf="!loading">
                    <table id="zero_config" class="table table-striped table-bordered">
                        <thead>
                            <tr align="center">
                                <th>Folio</th>
                                <th>Fecha</th>
                                <th>Estatus</th>
                                <th>Editar</th>
                                <th>Borrar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let c of citas">
                                <td>{{ c.folio }}</td>
                                <td>{{ c.fecha }}</td>
                                <td>{{ c.estatusCita.nombre }}</td>
                                <td align="center"><button class="btn btn-info" (click)="verCita(c.folio)">Editar</button></td>
                                <td align="center"><button (click)="borrarcita(c)" class="btn btn-danger">Eliminar</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
<app-paginador *ngIf="paginador" [ruta]="ruta" [paginador]="paginador"></app-paginador>
<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->