<div *ngIf="loading" class="fa-3x">
    <i class="fas fa-sync fa-spin"></i>
</div>
<div *ngIf="error">
    <div class="alert alert-danger text-center" role="alert">
        Servicio no disponible. Intenta mas tarde
    </div>
    <div class="border-top text-center">
        <div class="card-body">
            <button type="button" class="btn btn-info">Regresar</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="card col-7">
        <form [formGroup]="forma" (ngSubmit)="guardar()">
            <div class="card-body">
                <div class="form-group row">
                    <label class="col-md-3">Titulo</label>
                    <div class="col-md-9">
                        <input [class.is-invalid]="tituloNoValido" formControlName="titulo" name="titulo" type="text" class="form-control" placeholder="Titulo del auncio">
                        <small *ngIf="tituloNoValido" class="form-text text-danger mb-3"><b>Escribe el titulo del anuncio</b></small>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3">Descripción</label>
                    <div class="col-md-9">
                        <textarea rows="4" [class.is-invalid]="descNoValido" formControlName="descripcion" name="descripcion" class="form-control" placeholder="Descripción del anuncio"></textarea>
                        <small *ngIf="descNoValido" class="form-text text-danger mb-3"><b>Escribe la descripción</b></small>
                    </div>

                </div>
                <div class="form-group row">
                    <label class="col-md-3">Precio</label>
                    <div class="col-md-9">
                        <div class="input-group">
                            <input [class.is-invalid]="precioNoValido" formControlName="precio" name="precio" type="number" class="form-control" placeholder="0.00">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">$</span>
                            </div>
                        </div>
                        <small *ngIf="precioNoValido" class="form-text text-danger mb-3"><b>Escribe el precio</b></small>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 m-t-15">Estado</label>
                    <div class="col-md-9">
                        <select [class.is-invalid]="estadosNoValido" formControlName="estados" name="estados" id="estados" name="estados" class="select2 form-control custom-select" style="width: 100%; height:36px;">
                            <option *ngFor="let e of estados; let i = index"  [value]="e.id">
                                {{e.nombre}}
                              </option>
                        </select>
                        <small *ngIf="estadosNoValido" class="form-text text-danger mb-3"><b>Selecciona el estado</b></small>
                        <div *ngIf="loadingEdo" class="fa-1x text-info">
                            <i class="fas fa-sync fa-spin"> </i> Cargando estados espere....
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 m-t-15">Categoria</label>
                    <div class="col-md-9">
                        <select [class.is-invalid]="catNoValido" formControlName="categorias" name="categorias" class="select2 form-control custom-select" style="width: 100%; height:36px;">
                            <option [selected]="c.nombre==='AUTOS'" *ngFor="let c of categorias; let i = index"  [ngValue]="c.id" >
                                {{c.nombre}}
                              </option>
                        </select>
                        <small *ngIf="catNoValido" class="form-text text-danger mb-3"><b>Selecciona la categoria</b></small>
                        <div *ngIf="loadigCat" class="fa-1x text-info">
                            <i class="fas fa-sync fa-spin"> </i> Cargando categorias espere....
                        </div>
                    </div>
                </div>
            </div>

            <div class="border-top">
                <div class="card-body">
                    <button type="submit" [disabled]="!forma.valid" class="btn btn-success mr-4">Actualizar <app-loading *ngIf="loadingGuardar"></app-loading></button>
                    <button type="button" class="btn btn-info mr-5" [routerLink]="['/anuncios', page]">Regresar</button>
                    <button type="button" class="btn btn-warning margin-5 text-white" data-toggle="modal" data-target="#Modal2">Ver galeria </button>

                </div>
            </div>
        </form>
    </div>
    <div class="col-5" [ngClass]="{'disabled': loadingActFoto}">
        <div class="card col-12">
            <div class="card-body">
                <div class="form-group row">
                    <label class="col-md-4">Foto de preview</label>
                    <img *ngIf="!imagenTemp && anuncio" [src]="anuncio.preview | imgpreviewanu:'preview'" class="img-fluid mb-3" />
                    <img *ngIf="imagenTemp" [src]="imagenTemp" class="img-fluid mb-3" />
                    <div class="col-md-12">
                        <div class="custom-file">
                            <input (change)="preview( $event.target.files[0])" type="file" class="custom-file-input" id="validatedCustomFile">
                            <label class="custom-file-label" for="validatedCustomFile">Selecciona</label>
                            <div *ngIf="fileName" class="alert alert-info text-center" role="alert">
                                {{fileName}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="border-top">
                <div class="card-body">
                    <button [disabled]="!imagenSubir" type="button" (click)="cambiarPreview()" class="btn btn-success">Actualizar <app-loading *ngIf="loadingActFoto"></app-loading></button>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="row col-12">

    <div class="card col-7" [ngClass]="{'disabled': loadingActGal}">
        <div class="card-body">
            <div class="form-group row">
                <label class="col-md-9">Fotos de galeria del anuncio</label>
                <div class="col-md-12">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" (change)="onSelectFile($event)" multiple>
                        <label class="custom-file-label" for="validatedCustomFile">Selecciona</label>
                        <div *ngFor="let n of galeriaNombres; let i = index" class="alert alert-info text-center" role="alert">
                            {{n}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-top">
            <div class="card-body">
                <button [disabled]="totalGaleria == 0" (click)="subeGaleria()" type="button" class="btn btn-success text-right">Actualizar  <app-loading *ngIf="loadingActGal"></app-loading></button>
            </div>
        </div>
    </div>
    <div class="col-5" id="carouselExampleControls" class="carousel slide col-5" data-ride="carousel">
        <div class="carousel-inner" *ngIf="totalGaleria > 0">
            <div class="carousel-item" *ngFor="let url of urls; let i = index" [ngClass]="{'active': i == 0}">
                <img [src]="url" alt="foto anuncio" class="w-100">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<!-- Modal -->
<div data-backdrop="static" data-keyboard="false" class="modal fade bd-example-modal-lg" id="Modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Galeria</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div *ngIf="listadoGaleriaAnuncio && listadoGaleriaAnuncio.length == 0" class="col-12">
                    <div class="alert alert-danger text-center" role="alert">
                        No se encontraron resultados para la consulta solicitada.
                    </div>
                </div>

                <div class="row" *ngIf="listadoGaleriaAnuncio && listadoGaleriaAnuncio.length > 0">
                    <div class="col-12">
                        <div class="card" [ngClass]="{'disabled': loadingBorrarImg}">
                            <div class="card-body">
                                <h5 class="card-title">Galeria: {{anuncio.titulo}}</h5>
                                <div class="table-responsive" *ngIf="!loading">
                                    <table id="zero_config" class="table table-striped table-bordered">
                                        <thead>
                                            <tr align="center">
                                                <th>Nombre</th>
                                                <th>Imagen</th>
                                                <th>Borrar</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let g of listadoGaleriaAnuncio">
                                                <td>{{ g.nombre }}</td>
                                                <td> <img [src]="g.nombre | imgpreviewanu:'galeria'" alt="foto anuncio" class="w-50"></td>
                                                <td align="center"><button (click)="borrarImagen(g.id)" class="btn btn-danger">Eliminar <app-loading *ngIf="loadingBorrarImg"></app-loading></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
            </div>
        </div>
    </div>
</div>