<aside class="left-sidebar" data-sidebarbg="skin5">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav" class="p-t-30">
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" [routerLink]="['/dashboard', 1, 0, 0]" routerLinkActive="active-link" aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Dashboard</span></a></li>
                <li *ngIf="oautService.hasRoleDos('ROLE_ADMIN', 'ROLE_USER_FULL')" class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-comment-account-outline"></i><span class="hide-menu">Mis anuncios</span></a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item"><a [routerLink]="['/anuncios', 0]" routerLinkActive="active-link" class="sidebar-link"><i class="mdi mdi-format-align-right"></i><span class="hide-menu">Listar mis anuncios</span></a></li>
                        <li class="sidebar-item"><a [routerLink]="['/crearanuncio']" routerLinkActive="active-link" class="sidebar-link"><i class="mdi mdi-monitor-multiple"></i><span class="hide-menu">Crear anuncio</span></a></li>
                    </ul>
                </li>
                <li *ngIf="oautService.hasRole('ROLE_ADMIN')" class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-account-check"></i><span class="hide-menu">Usuarios </span></a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item"><a [routerLink]="['/usuarios']" routerLinkActive="active-link" class="sidebar-link"><i class="mdi mdi-file-find"></i><span class="hide-menu">  Consultar </span></a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>