<div class="card bg-light-gray">
    <div class="card-body">
        <h5 class="card-title text-center mb-4">
            <h4>Selecciona una busqueda</h4>
        </h5>
        <div class="form-group row">
            <label class="col-md-3 m-t-15">Estado</label>
            <div class="col-md-9">
                <select (change)="busqueda( 3, $event.target.value, 0)" *ngIf="!loadingEdo" class="select2 form-control custom-select" style="width: 100%; height:36px;">
                    <option value=0>---TODOS---</option>
                    <option *ngFor="let edo of estados" [value]="edo.id">{{edo.nombre}}</option>
                </select>
                <div *ngIf="loadingEdo" class="fa-1x text-info">
                    <i class="fas fa-sync fa-spin"> </i> Cargando estados espere....
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 m-t-15">Categoria</label>
            <div class="col-md-9">
                <select (change)="busqueda( 2, $event.target.value, 0)" *ngIf="!loadigCat" class="select2 form-control custom-select" style="width: 100%; height:36px;">
                    <option value=0>---TODAS---</option>
                     <option *ngFor="let cat of categorias" [value]="cat.id">{{cat.nombre}}</option>
                </select>
                <div *ngIf="loadigCat" class="fa-1x text-info">
                    <i class="fas fa-sync fa-spin"> </i> Cargando categorias espere....
                </div>

            </div>
        </div>
    </div>
</div>
<div *ngIf="vacio && !loadingAnu " class="col-12">
    <div class="alert alert-danger text-center" role="alert">
        No se encontraron resultados para la consulta solicitada.
    </div>
</div>
<div class="row mb-5">
    <h4 class="bg-blue" *ngIf="!loadingAnu && !vacio">Listado de anuncios</h4>
    <div *ngIf="loadingAnu" class="fa-3x">
        <i class="fas fa-sync fa-spin"></i>
    </div>
    <div class="card-columns" *ngIf="!loadingAnu && !vacio">
        <div *ngFor="let a of anuncios" style="width: 19rem;" class="card ">
            <img [src]="a.preview | imgpreviewanu:'preview'" alt="foto anuncio" class="img-thumbnail">
            <div class="card-body">
                <h4 class="card-title"><a (click)="verDetalle(a.id)" [routerLink]=""><u>{{ a.titulo }}</u></a></h4>
                <h2 class="card-text"><small class="text-success">{{ a.precio | currency }}</small></h2>
                <p class="card-text"><small class="text-info">{{ a.estado.nombre }}</small></p>
            </div>
            <div class="card-footer">
                <small class="text-success"><strong>Publicado: {{a.fecha | date: 'longDate'}}</strong></small><br>
                <small class="text-success"><strong>Por: <span class="text-active"><a href="#"><u>{{a.usuario.username}}</u></a></span></strong></small>
            </div>
        </div>
        <br>
    </div>
</div>
<app-paginadordash *ngIf="paginador && !vacio" [tipo]="tipo" [id]="id" [ruta]="ruta" [paginador]="paginador"></app-paginadordash>